<!DOCTYPE html>
{%extends 'base.html'%}
{%block body_block%}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table text-center">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>

            {%for profile in profiles%}

            <tr>
                <td>{{profile.name}}</td>
                <td>{{profile.email}}</td>
                <td>{{profile.mobile}}</td>
                <td>
                    <a href="{%url 'editprofile' profile.id%}" class="btn btn-outline-warning">Update</a>
                    <a href="{%url 'profiledetails' profile.id%}" class="btn btn-outline-primary">Details</a>
                </td>
            </tr>
            {%endfor%}

        </table>
    </div>
    <div class="col-2"></div>
</div>

{%endblock%}